@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}

:root {
  --official-color: #2134e0;
  --social-color: #db191a;
  --company-color: #03ffff;
  --club-color: #ed9a1e;
  --other-color: #9220ed;
  --faculty-color: #3be71e;
}
.filter-main-input {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  max-width: fit-content;
  background-color: black;
  opacity: 0.8;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 12px;
}

.filter-main-input label {
  color: #0582c8;
  margin-bottom: 0.2rem;
}

.filter-check-boxes div {
  margin-top: 0.2rem;
  color: #0582c8;
}

.filter-check-boxes * {
  font-family: AugerMB;
}

.filter-check-box-official label {
  color: var(--official-color);
}

.filter-check-box-company label {
  color: var(--company-color);
}

.filter-check-box-faculty label {
  color: var(--faculty-color);
}

.filter-check-box-club label {
  color: var(--club-color);
}

.filter-check-box-social label {
  color: var(--social-color);
}

.filter-check-box-other label {
  color: var(--other-color);
}
