@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}

.filter-main-input {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  max-width: fit-content;
  background-color: black;
  opacity: 0.8;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 12px;
}

.filter-main-input label {
  color: #0582c8;
  margin-bottom: 0.2rem;
}

.filter-check-boxes div {
  margin-top: 0.2rem;
  color: #0582c8;
}

.filter-check-boxes * {
  font-family: AugerMB;
}
