.box {
  position: absolute;
  transform: translateX(-20rem);
  transform: translateY(-10rem);
}

.spawn-pin-map-sample {
  background-image: url("../Images/logo.png");
  background-size: cover;
  min-height: 90vh;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 10rem;
  border: 1px solid red;
  margin-bottom: 1rem;
}
