@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}
.side-bar-events-km-text {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}

.side-bar-events-title {
  text-align: left;
}

.side-bar-events-location {
  margin-top: 0.2rem;
  text-align: left;
  font-size: 0.8rem;
  max-width: 10vw;
}

.side-bar-events-tags {
  margin-top: 0.2rem;
  text-align: left;
  font-size: 0.7rem;
}

.side-bar-events-main-flex {
  border: 2px solid #228be6;
  border-radius: 12px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.side-bar-events-main-flex:hover {
  border: 2px solid #1267b2;
}

.side-bar-events-pin-color {
  min-width: 5vw;
  max-width: 5vw;
}

.side-bar-events-event-details {
  min-width: 10vw;
  max-width: 10vw;
  word-wrap: break-word;
}

.side-bar-events-main-title {
  margin-top: 1rem;
  text-align: left;
  font-family: AugerMB;
}

.side-bar-events-main-flex-vertical:last-child {
  margin-bottom: 0.5rem;
}

.side-bar-events-text-font {
  font-family: AugerMB;
}

.side-bar-events-time-to {
  font-family: AugerMB;
  text-align: left;
}

.side-bar-events-button-text {
  font-family: AugerMB;
}

.side-var-events-add-button-flex {
  min-width: 10vw;
  max-width: 10vw;
  margin-top: 1rem;
}
