@font-face {
  font-family: AugerMB;
  src: url("../../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}
.coordinatesbr-text-location {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}
.coordinates-br-text {
  font-family: AugerMB;
  /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
  /* outline: 1px solid gray; */
  /* border-radius: 12px; */
  font-size: 0.9rem;
  max-width: fit-content;
  word-break: break-all;
  text-align: left;
}

.coordinates-br-location {
  font-size: 0.7rem;
}

.coordinates-br-title {
  font-family: AugerMB;
  /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
  /* outline: 1px solid gray; */
  font-size: 1.3rem;
  /* border-radius: 12px; */
}

.coordinates-br-flex {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  outline: 1px solid gray;
  border-radius: 12px;
  max-width: fit-content;
}

.coordinates-br-a {
  text-decoration: none;
  font-size: 0.7rem;
  font-family: AugerMB;
  text-decoration: underline transparent;
  transition: 0.2s;
  cursor: pointer;
  margin-top: 0.5rem;
}

.coordinates-br-a:hover {
  color: black;
  text-decoration: underline rgb(92, 91, 91);
}
