@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}

.map-main-container {
  position: relative;
  height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  margin-left: 20vw;
  /* max-width: fit-content;
  margin: 0 auto; */
}

.cluster-icon {
  background-color: black;
  height: 2em;
  width: 2em;
  color: #238be6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  /* box-shadow: 0 0 0px 5px #fff; */
  border: none;
  font-family: AugerMB;
}

.map-main-pin {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: AugerMB;
}
/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 200px) {
    .map-main-container {
      position: relative;
      height: 100vh;
      max-width: 100vw;
      margin: 0 auto;
      /* max-width: fit-content;
      margin: 0 auto; */
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 700px) {
    .map-main-container {
      position: relative;
      height: 100vh;
      max-width: 80vw;
      margin: 0 auto;
      margin-left: 20vw;
      /* max-width: fit-content;
      margin: 0 auto; */
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}
