@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}

.map-main-container {
  position: relative;
  height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  margin-left: 20vw;
  /* max-width: fit-content;
  margin: 0 auto; */
}

.cluster-icon {
  background-color: black;
  height: 2em;
  width: 2em;
  color: #238be6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  /* box-shadow: 0 0 0px 5px #fff; */
  border: none;
  font-family: AugerMB;
}

.map-main-pin {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: AugerMB;
}
