@font-face {
  font-family: AugerMB;
  src: url("../../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}

.legendbl-div-for-click {
  background-color: black;
  color: white;
  opacity: 0.8;
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 10px;
  font-weight: 700;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.legend-bl-text-ig {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* .legendbl-div-for-click b {
  display: block;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.legendbl-div-for-click b:nth-child(1) {
  padding-top: 0.5rem;
}

.legendbl-div-for-click b:nth-child(2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.leaflet-bottom div:nth-child(1) {
  display: block;
} */
