@font-face {
  font-family: AugerMB;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-regular.woff2");
}

.geo-location-marker {
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  animation: borderPulse 2s infinite;
}

.geo-location-here-text .leaflet-popup-content {
  font-family: AugerMB;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
}

.leaflet-pane img,
.leaflet-marker-pane img {
  opacity: 0.8;
}

@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
