.pin-main-div {
  position: absolute;
  min-width: 30rem;
  color: black;
}

.pin-main-div-active {
  position: absolute;
  color: black;
  min-width: 30rem;
}

.pin-details-div-active {
  max-width: 30rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in;
  z-index: 2;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
}

.pin-hover-div {
  z-index: 2;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  transition: all 0.5s ease-in;
  opacity: 0.8;
}

.pin-details-div {
  max-width: 30rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 0.5s ease-in;
  z-index: 2;
  padding: 1rem 1rem 1rem 1rem;
}

.pin-details-div-details-text {
  text-align: left;
  text-transform: none;
}

.pin-clicker-div {
  cursor: pointer;
  padding: 1rem;
  z-index: 3;
}

.pin-clicker-div-active {
  cursor: pointer;
  padding: 1rem;
  z-index: 3;
}

.pin-location-header {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
}

.pin-people-flex {
  margin-top: 1rem;
  font-style: italic;
}
