@font-face {
  font-family: AugerMB;
  src: url("../../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-bold.woff2");
}
.side-bar-events-km-text {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}

.side-bar-events-title {
  text-align: left;
  line-height: normal;
  font-size: 1rem;
  max-width: 10vw;
  font-family: "Roboto", sans-serif;
}

.side-bar-events-location {
  text-align: left;
  font-size: 0.8rem;
  max-width: 10vw;
  line-height: normal;
  margin-top: 0.2rem;
  font-family: "Roboto", sans-serif;
}

.side-bar-events-tags {
  margin-top: 0.2rem;
  text-align: left;
  font-size: 0.6rem;
  font-style: italic;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}

.side-bar-events-main-flex {
  border: 1px solid black;
  border-radius: 12px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.side-bar-events-main-flex:hover {
  border: 1px solid #1267b2;
}

.side-bar-events-pin-color {
  min-width: 5vw;
  max-width: 5vw;
}

.side-bar-events-event-details {
  min-width: 10vw;
  max-width: 10vw;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

.side-bar-events-main-title {
  margin-top: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.side-bar-events-main-flex-vertical:last-child {
  margin-bottom: 0.5rem;
}

.side-bar-events-time-to {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 0.8rem;
  line-height: normal;
  margin-top: 0.2rem;
}

.side-var-events-add-button-flex {
  min-width: 10vw;
  max-width: 10vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
