@font-face {
  font-family: Auger-Mono-Bold;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-regular.woff2");
}

.eventmenu-main-menu {
  /* position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px; */
  display: block;
  background-color: black;
  opacity: 0.8;
  color: white;
  padding: 0rem 1rem 0rem 1rem;
  display: block;
  border-radius: 12px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.eventmenu-main-menu-off {
  /* opacity: 0; */
  display: none;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 12px;
}

.eventmenu-main-menu:last-child {
  padding-bottom: 0.5rem;
}

.eventmenu-main-menu:first-child {
  padding-top: 0.5rem;
}

.eventmenu-main-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.eventmenu-submit-button {
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 0.8rem;
}

.eventmenu-input label {
  /* float: right;
  clear: both; */
  font-family: Auger-Mono-Bold;
  color: #0582c8;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* .eventmenu-input * {
  z-index: 999;
} */

.event-menu-radio div {
  font-family: Auger-Mono-Bold;
  color: #0582c8;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.event-menu-time label {
  font-family: Auger-Mono-Bold;
  color: #0582c8;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.event-menu-time-title {
  font-family: Auger-Mono-Bold;
  color: #0582c8;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.3rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
